@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #2364AA;
    --secondary-color: #3DA5D9;
    --accent1-color: #FEC601;
    --accent2-color: #73BFB8;

    --heading-font: "Arimo", sans-serif;
    --paragraph-font: "Open Sans", sans-serif;

    --nav-background-color: #2364AA;
    --nav-link-color: #FEC601;
    --nav-hover-link-color: #73BFB8;
    --nav-hover-background-color: #3DA5D9;
}


body {
    font-family: var(--paragraph-font);
    padding: 20px;
}

 h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 2rem;
    text-align: center;
}

.adventures {
    text-align: center;
    
  }
  
.adventures h2 {
    margin-bottom: 40px;
    padding: 10px;
  }

  .photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; 
    grid-gap: 10px;
    margin-bottom: 20px;
    
  }
  
  .photos figure {
    margin: 10px;
    text-align: center;
    
  }
  
  .photos img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    
  }
  
  .adventures figcaption {
    margin-top: 5px;
    font-style: italic;
    font-size: 15px;
  }
  
  .history-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50vh;
    align-items: center; 
    text-align: justify;
    
  }

  .history p {
    text-align: left;
    font-size: 1rem;
    line-height: 1.4rem;
    padding: 8px;
    color: #000;
  }

  .history-content img {
    max-width: 100%;
    margin-top: 10px;
    object-fit: cover;

  }
  .text-block {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }

  .history h2 {
    margin-top:  60px;
    padding: 10px;
  }

  .header {
    display: grid;
    grid-template-columns: 3fr auto 2fr;
    align-items: center;
    background-color: #3DA5D9; 
    padding: 20px 0; 
    color: #fff; 
    margin-bottom: 80px; 
    
}

.header img {
    max-width: 100px ;
    justify-self: center;

}

.header nav {
    display: flex;
    justify-self: center;
    margin-left: auto;
}


.header nav a {
    color: white; 
    text-decoration: none; 
    margin-left:  30px;  
    font-size: 25px;  
    font-weight: bold;
    

}

.header nav a:hover {
    text-decoration: underline; 
}

main {
    max-width: 1300px;
    margin: 0 auto; 
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 160px;
}

article {
    position: absolute;
    bottom: 10px;
    align-items: center;
    margin: 30px;
    background-color: rgba(130, 213, 243, 0.3);
    padding: 1rem;
}

h1 {
    text-align: center;
    position: absolute;
    top: 5%;
    width: 100%;
    right: 0px;
    left: 0px;
    font-family: var(--heading-font);
    font-size: 45px;
    color: white;
    background-color: rgba(11, 66, 120, 0.7);
}

p {
    color: white;
    font-family: var(--paragraph-font); 
    text-align: left;
    vertical-align: middle;
    align-items: center;
    font-size: 1.1rem;
    line-height: 1.4em;
    padding: 1px;
}

section p {
    font-family: var(--paragraph-font);
    padding: 0px;
    color: #000;
    align-items: center;
}

section img {
    padding: 10px;
    width: 500px;
    height: auto;
}

.footer {
    background-color: #3DA5D9; 
    color: #fff; 
    padding: 10px; 
    text-align: right; 
    display: flex;
    justify-content: center;
    margin-top: 80px; 
    align-items: center;

}

.sociallinks { 
    display: flex;
}

.sociallinks a {
    display: inline-block; 
    margin-left: 10px; 
}


.sociallinks img {
    width: 32px;
    height: auto; 
    
}

.footer p {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}


.herocontact {
  position: relative;
}

.herocontact img {
  display: block;
  width: 100%;
  height: auto;
  
}
.herocontact h1 {
  text-align: center;
  position: absolute;
  top: 15%;
  width: 100%;
  right: 0px;
  left: 0px;
  font-family: var(--heading-font);
  font-size: 45px;
  color: white;
  background-color: rgba(11, 66, 120, 0.7);

}

.contact p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.4rem;
  padding: 8px;
  color: #000;
}

.contact h2 {
  margin-top:  60px;
  padding: 10px;
}

.contact-content {
  text-align: center; 
  display: grid;
}

.information {
  display: inline-block; 
  
}

.information p {
  text-align: center;
  font-size: 1.2rem;
  color: #000;
}

.form-container {
  float: left !important;
  display: grid;
  margin-left: 80px;
}


form {
  width: 450px;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 0.5rem;
  background-color: #eee;
  display: grid;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.radio-group label {
  display: block; 
}

.radio-group input[type="radio"] {
  display: inline-block; 
  vertical-align: middle; 
  margin-right: 4px; 
}


input[type="text"],
input[type="email"],
textarea {
    width: 96%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
  margin: 1rem;
  background-color: #2364AA;
  color: #fff;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}




label.checkbox-label {
  display: block;
  margin-bottom: 10px;
}

.checkbox-label input[type="checkbox"] {
  margin-right: 5px;
}

.map-container {
  position: relative; 
  display: flex; 
  justify-content: center; 
  height: 115vh; 
  align-items: center;
  flex-grow: 0;
}

.map {
  display: grid;
  width: 550px;
  
  
}
iframe {
    border: 5px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    width: 100%; 
    height: 400px; 
  
}

.customer-services {
  text-align: center; 
  display: block;
  align-items: center;

}

.customer {
  display: inline-block; 
  margin-bottom: 10px;
  
}

.customer p {
  text-align: center;
  font-size: 1.2rem;
  color: #000;

}

.employee-photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ; 
  grid-gap: 10px;
  margin-bottom: 20px;
  
  
}

.employee-photos figure {
  margin: 10px;
  text-align: center;
  
}

.employee-photos img {
  width: 80%; 
  height: 80%;
  object-fit: cover;
  border: 0.8px solid gray;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  
  
}

.employee-photos figcaption {
  margin-top: 5px;
  font-style: italic;
  font-size: 15px;
}


.herotrip {
  position: relative;
  display: inline-block;
}

.herotrip img {
  display: block;
  width: 100%;
  height: auto;
  
}
.herotrip h1 {
  text-align: center;
  position: absolute;
  top: 15%;
  width: 100%;
  right: 0px;
  left: 0px;
  font-family: var(--heading-font);
  font-size: 45px;
  color: white;
  background-color: rgba(11, 66, 120, 0.7);

}

.enlace {
  position: absolute;
  bottom: 10%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: navy; 
  background-color: #FEC601;
  padding: 10px 20px;
  text-decoration: none; 
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  border-radius: 5px;
 
}
  
.herotrip a:hover {
  background-color:#3DA5D9;
}  

.rafting h2 {
  color: #2364AA;
  text-align: center; 
  margin-top: 100px;


}

.content-center {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;


}

.content-trips {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  padding: 20px; 
  margin-top: -15px;
  
}

.trip {
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}

.trip h3 {
  color: #2364AA;
  text-align: center; 

}

.trip p {
  color: black;
  font-size: 1rem;
  text-align: center;
}

.trip img {
  width: 400px;
  height: 200px;
  object-fit: cover;
  border: 0.8px solid gray;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-top: -20px;
  
}

table {
  width: 50%; 
  border-collapse: collapse; 
  margin: 0 auto;

}

th, td {
  border: 1px solid #ccc; 
  padding: 8px;
  text-align: center;
}

th {
  background-color: #b5d4e4;
}




.homehero {
  width: 100%;
  max-width: 100%;
  margin-top: -60px;
}

.homehero img {
  width: 105%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-left: -30px;
}

.homehero h4 {
  position: absolute;
  top: 80%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: #fff; 
  font-size: 60px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);


}

.purposes-container {

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  position: relative;
  
}

.form-news {

  background-color: #3498db; /* Color de la columna vertical */
  grid-column: 1;
  margin-top: 30px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 2px; /* Relleno más estrecho en la izquierda */
  padding-right: 2px;
  
}

.form-news p {
  text-align: center;
  font-size: 25px;
}

.purpose {
  display: grid; /* Se convierte en una mini-grid */
  grid-template-rows: auto auto auto; /* Tres filas */
  gap: 10px; 
  padding: 20px;
  background-color: #FEC601;
  width: 90%;
  height: 90%;
  margin-top: 30px;
  text-align: center;
  position: relative;
  margin-left: 35px;
  border: 2px solid  #FEC601
}

.purpose h3 {
  margin-top: 0; 
  text-align: center;
  font-size: 30px;
  color: #eee;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.purpose p {
  margin-top: 10px;
  color: #000;
  text-align: center;
}

.purpose img {
  width: 95%; 
  display: block;
  margin: 0 auto;
  border: 2px solid white;
  object-fit: cover;

}

.purpose .link {
  
  color: #eee; 
  background-color:#2364AA;
  padding: 10px 20px;
  text-decoration: none; 
  font-size: 15px;
  font-weight: bold;
  display: absolute;
  border-radius: 5px;
  width: 20%;
  margin-left: 35%;
  
 
}






